Reschedule/Reschedule_SetReschedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignDefaultQueue</name>
        <label>assignDefaultQueue</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>defaultQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.ABA_LIS_Cola_reprogramacion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIfContained</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFieldsInCase</name>
        <label>setFieldsInCase</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>getCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMotivoSimple.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.ABA_LIS_Motivo_del_Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMotivoSimple.StatusReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.ABA_LIS_Situacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMotivoSimple.Situation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.ABA_LIS_Cola_reprogramacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RescheduleQueue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.ABA_LIS_Motivo_de_reprogramacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMotivoSimple.RescheduleReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.ABA_DT_Fecha_reprogramacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RescheduleDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Bug in SF requires to sort collection to get sorted metadata</description>
        <name>sortMotivos</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortMotivos</label>
        <locationX>666</locationX>
        <locationY>1058</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>getMotivosFromMetadata</collectionReference>
        <connector>
            <targetReference>RescheduleScreen</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>StatusReason__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>IsAlreadyRescheduled</name>
        <label>IsAlreadyRescheduled</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getQueuesFromMetadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.ABA_BOL_Reprogramado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyRescheduledScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the Reschedule queue in que case is one of the valid ones.</description>
        <name>IsEqualDecision</name>
        <label>IsEqualDecision</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>checkIfContained</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotEqual</defaultConnectorLabel>
        <rules>
            <name>IsEqual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.ABA_LIS_Cola_reprogramacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>checkIfContained.QueueDevName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDefaultQueue</targetReference>
            </connector>
            <label>IsEqual</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DisplayQueues</name>
        <collectionReference>getQueuesFromMetadata</collectionReference>
        <dataType>String</dataType>
        <displayField>Queue_name__c</displayField>
        <object>Reschedule_QueueByServicioTicket__mdt</object>
        <valueField>QueueDevName__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MotivosDisplay</name>
        <collectionReference>getMotivosFromMetadata</collectionReference>
        <dataType>String</dataType>
        <displayField>RescheduleReason__c</displayField>
        <object>Reschedule_MotivosByServicioDelticket__mdt</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>rescheduleComment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!InputComment}), &apos;Caso reprogramado con motivo &quot;&apos;+TEXT({!getMotivoSimple.RescheduleReason__c})+&apos;&quot;&apos;, &apos;Caso reprogramado con motivo &quot;&apos;+TEXT({!getMotivoSimple.RescheduleReason__c})+&apos;&quot; y comentario: &quot;&apos;+{!InputComment}+&apos;&quot;&apos;)</expression>
    </formulas>
    <interviewLabel>Reschedule_SetReschedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reschedule_SetReschedule</label>
    <loops>
        <name>checkIfContained</name>
        <label>checkIfContained</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <collectionReference>getQueuesFromMetadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsEqualDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getMotivosFromMetadata</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCaseComment</name>
        <label>createCaseComment</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>rescheduleComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAlreadyRescheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMotivosFromMetadata</name>
        <label>getMotivosFromMetadata</label>
        <locationX>666</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sortMotivos</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.ABA_LIS_Servicio_del_Ticket__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reschedule_MotivosByServicioDelticket__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMotivoSimple</name>
        <label>getMotivoSimple</label>
        <locationX>666</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueDevName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RescheduleReason</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reschedule_MotivosByServicioDelticket__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueue</name>
        <label>getQueue</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setFieldsInCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQueueDevName.Value__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueDevName</name>
        <label>getQueueDevName</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WaitingQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COR_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueuesFromMetadata</name>
        <label>getQueuesFromMetadata</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfContained</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.ABA_LIS_Servicio_del_Ticket__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reschedule_QueueByServicioTicket__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>666</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>createCaseComment</targetReference>
        </connector>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AlreadyRescheduledScreen</name>
        <label>AlreadyRescheduledScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyRescheduledDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 0, 0); font-size: 16px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Este caso ya se encuentra actualmente &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt;reprogramado&lt;/strong&gt;&lt;strong&gt;, por favor cierre este flujo y refresque la página.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RescheduleScreen</name>
        <label>RescheduleScreen</label>
        <locationX>666</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getMotivoSimple</targetReference>
        </connector>
        <fields>
            <name>RescheduleQueue</name>
            <choiceReferences>DisplayQueues</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultQueue</elementReference>
            </defaultValue>
            <fieldText>Cola de reprogramación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RescheduleReason</name>
            <choiceReferences>MotivosDisplay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de la reprogramación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RescheduleDateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Fecha y Hora de la reprogramación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La fecha de reprogramación debe ser futura.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!$Flow.CurrentDateTime}&lt;={!RescheduleDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>InputComment</name>
            <fieldText>Comentario</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;El mensaje no puede ser superior a 2000 caracteres.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!InputComment})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>defaultQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotivosList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
