Reschedule/Reschedule_LaunchReschedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailAlert</name>
        <label>SendEmailAlert</label>
        <locationX>704</locationX>
        <locationY>528</locationY>
        <actionName>Case.RescheduleQueueNotFound</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.RescheduleQueueNotFound</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailUpdateAlert</name>
        <label>SendEmailUpdateAlert</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <actionName>Case.RescheduleUpdateProblem</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.RescheduleUpdateProblem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>QueueFoundDecision</name>
        <label>QueueFoundDecision</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>SendEmailAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QueueNotFound</defaultConnectorLabel>
        <rules>
            <name>QueueFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <label>QueueFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Reschedule_LaunchReschedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reschedule_LaunchReschedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getQueue</name>
        <label>getQueue</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueueFoundDecision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ABA_LIS_Cola_reprogramacion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ABA_LIS_Cola_reprogramacion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <faultConnector>
            <targetReference>SendEmailUpdateAlert</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ABA_DT_Fecha_reprogramacion__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ABA_LIS_Motivo_de_reprogramacion__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ABA_LIS_Motivo_del_Estado__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ABA_LIS_Situacion__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ABA_LIS_Subestado__c</field>
            <value>
                <stringValue>Reprogramado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ABA_DT_Fecha_reprogramacion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ABA_LIS_Cola_reprogramacion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Hit_Reschedule_Datetime</name>
            <connector>
                <targetReference>getQueue</targetReference>
            </connector>
            <label>Hit Reschedule Datetime</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ABA_DT_Fecha_reprogramacion__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
